{% extends 'base.html'%}

{% block title%}
LAPTOP LIST
{%  endblock %}

{% block main%}
<table class="table table-striped-columns">
    <thead>
    <tr>
        <th>LAPTOP ID</th>
        <th>MODEL</th>
        <th>BRAND</th>
        <th>RAM</th>
        <th>PROCESSOR</th>
        <th>PRICE</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    {% for rec in data%}
        <tr>
            <td>{{rec.laptop_id}}</td>
            <td>{{rec.model_name}}</td>
            <td>{{rec.brand}}</td>
            <td>{{rec.ram}}</td>
            <td>{{rec.processor}}</td>
            <td>{{rec.price}}</td>
            <td>
                <a href="{% url 'update_url' rec.id%}"><button type="button" class="btn btn-outline-warning btn-sm me-4">UPDATE</button></a>
                <a href="{% url 'delete_url' rec.id%}"><button type="button" class="btn btn-outline-danger btn-sm">DELETE</button></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%}
